/* POPPINS FONT */

/* Regular Poppins font */
@font-face{
    font-family: poppins-regular;
    src: url(fonts/PoppinsFont/Poppins-Regular.ttf);
}

/* Bold Poppins font */
@font-face{
    font-family: poppins-bold;
    src: url(fonts/PoppinsFont/Poppins-Bold.ttf);
}

/* Bold Italic Poppins font */
@font-face{
    font-family: poppins-bold-italic;
    src: url(fonts/PoppinsFont/Poppins-BoldItalic.ttf);
}

/* Italic Poppins font  */
@font-face{
    font-family: poppins-italic;
    src: url(fonts/PoppinsFont/Poppins-Italic.ttf);
}

/* Black Poppins font */
@font-face{
    font-family: poppins-black;
    src: url(fonts/PoppinsFont/Poppins-Black.ttf);
}

/* Black Italic Poppins font */
@font-face{
    font-family: poppins-black-italic;
    src: url(fonts/PoppinsFont/Poppins-BlackItalic.ttf);
}


/* MONTSERRAT FONT */

@font-face{
    font-family: montserrat-regular;
    src: url(fonts/MontserratFont/Montserrat-Regular.ttf);
}

/* Bold Poppins font */
@font-face{
    font-family: montserrat-bold;
    src: url(fonts/MontserratFont/Montserrat-Bold.ttf);
}

/* Bold Italic Poppins font */
@font-face{
    font-family: montserrat-bold-italic;
    src: url(fonts/MontserratFont/Montserrat-BoldItalic.ttf);
}

/* Italic Poppins font  */
@font-face{
    font-family: montserrat-italic;
    src: url(fonts/MontserratFont/Montserrat-Italic.ttf);
}

/* Black Poppins font */
@font-face{
    font-family: montserrat-black;
    src: url(fonts/MontserratFont/Montserrat-Black.ttf);
}

/* Black Italic Poppins font */
@font-face{
    font-family: montserrat-black-italic;
    src: url(fonts/MontserratFont/Montserrat-BlackItalic.ttf);
}