/* ALL FONTS */
@import url(fonts.css);

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #3e3e3e;
    z-index: -10;
}


/* NAV */

.site-nav{
    position: sticky;
    top: 0px;
    background-color: #3e3e3e;
    height: 10vh;
    z-index: 1000;
    margin-bottom: 35px;
}

.nav-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-logo{
    height: 6vh;
}

.nav-logo-wrapper{
    margin-right: 25px;
}

.nav-buttons-wrapper{
    margin-left: 50px;
}

.nav-buttons-list{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.nav-buttons-item{
    list-style-type: none;
    margin-right: 50px;
}

.nav-buttons-content{
    font-family: poppins-italic;
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #cd484b;
    text-decoration: none;
    transition: 0.2s;
}

.nav-buttons-content:hover{
    color: #cd484b;
    background-color: #fff;
}


/* INTERMISSION */

.intermission-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: calc(100% - 15vw);
    height: 80vh;
    background-color: wheat;
    margin: 0px auto;
    border-radius: 50px;
}

.intermission-div-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 222, 179, 50%);
    z-index: 10;
    border-radius: 50px;
}

.intermission-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(50%) blur(5px);
    background-clip: border-box;
    background-image: url(images/site-images/CORE-LOGOS.gif);
    border-radius: 50px
}

.intermission-header{
    font-family: poppins-black;
    color: #cd484b;
    font-size: 50px;
    word-spacing: 5px;
}

.intermission-text{
    font-family: poppins-bold-italic;
}