/* ALL FONTS */
@import url(fonts.css);

*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #3e3e3e;
    z-index: -10;
}


/* NAV */

.site-nav{
    position: sticky;
    top: 0px;
    background-color: #3e3e3e;
    height: 6vh;
}

.nav-content-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
}

.nav-logo{
    height: 6vh;
}

.nav-logo-wrapper{
    margin-left: 25px;
}

.nav-buttons-wrapper{
    margin-left: 100px;
}

.nav-buttons-list{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.nav-buttons-item{
    list-style-type: none;
    margin-right: 50px;
}

.nav-buttons-content{
    font-family: poppins-italic;
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #cd484b;
    text-decoration: none;
    transition: 0.2s;
}

.nav-buttons-content:hover{
    color: #cd484b;
    background-color: #fff;
}


/* INTERMISSION */

.intermission-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
    height: 50vh;
    background-color: wheat;
    z-index: -9;
}

.intermission-div-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    border-radius: 50px;
}

.intermission-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    z-index: -1;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(50%) blur(5px);
    background-clip: border-box;
    background-image: url(images/site-images/CORE-LOGOS.gif);
}

.intermission-header{
    font-family: poppins-black;
    color: #cd484b;
    font-size: 50px;
}

.intermission-text{
    font-family: poppins-bold-italic;
}


/* MAIN */

.site-main{
    height: 100vh;
}


/* FOOTER */

.site-footer {
    position: relative;
    height: 100px;
    background-color: wheat;
    z-index: -9;
}
.footer-background{
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(0px);
    background-image: linear-gradient(to left, rgba(245, 222, 179, 50%), rgba(245, 222, 179, 100%)), 
                      url(images/site-images/CORE\ LOGOS.png);
    background-repeat: no-repeat;
    background-position: 225%;
    background-clip: border-box;
    z-index: -8;
    width: 100%;
    height: 100%;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 50px;
    line-height: 30px;
    z-index: 1;
    width: 500px;
    height: 100%;
}
.footer-title {
    font-family: poppins-italic;
    font-size: 25px;
}
.footer-work-button {
    font-family: poppins-regular;
    color: #000;
}